@import "vars";

.container_nav{
    height: 60px;
    margin-left: 144px;
    .nav__left{
        width: 30%;
        justify-content: center;
        .nav_create{
            margin-top: 10px;
            margin-left: 16px;
         }
    }
     .nav__center{
        width: 32%;
        justify-content: end;
        padding-bottom: 8px;
        .nav_weight{
            margin-top: 24px;
            margin-left: 10px;
            font-weight: 500;
        }
        .nav_weight_low{
            
            margin-top: 24px;
            margin-left: 4px;
        }
    }
    .nav__right{
        width: 40%;
        justify-content: end;
        padding-right: 7px;
    }
}
.nav_weight:hover{
    background-color: #e2e3f3;
    color:  #4f4cb6;
}
.nav_weight_low:hover{
    background-color: #e2e3f3;
    color:  #4f4cb6;
}
.main_editPost{
    justify-content: end;
    width: 100%;
    height: 90%;
    padding-right: 14px;
    
   

    .main_left{
        border: 2px solid #efefef;
        background-color: #ffffff;
        border-radius: 9px;
        width: 810px;
        height: 780px;
        margin-right: 12px;
        .button_first{
            height: 66px;
            margin-left: 60px;
            display: flex;
            align-items:end;
        .btn_color_add {
           margin-left: 6px;
            border-color: darkgrey;
            width: 164px;
            height: 39px;
          
             
        }  
        

        }

       

        

        .tittle_post{
          
            margin-left: 60px;
            height: 134px;
            margin-top: 17px;
          

            .tittle_post_letter{
                
                font-size: 48px;
                font-weight: 800;
                color: dimgrey;

            }
        }

        .iconos_post{
            background-color: #f9f9f9;
            height: 57px;
            display: flex;
            justify-content: space-between;

            .iconos_left{
                
                width: 64%;
                margin-left: 41px;
                justify-content: space-around;
                align-items: center;
                padding: 9px;

            }

            .iconos_right{
               
                width: 16%;
                justify-content: center;
                align-items: center;

            }
           

        }
        .body_post{
          
            padding: 18px 58px 50px;
            height: 490px;
        }
       
    
    
    }

    .btn_color_add:hover{
        background-color: #e2e3f3;
       

    }

    .boton_add:hover{
        background-color: #e2e3f3;
        border: #212eb9;
        

    }

    .crayons-icon:hover{
        background-color: #e2e3f3;
        color:  #4f4cb6;
        border-radius: 4px;
    
    
    }

        
    .main_right{
        
        width: 34%;
        height: 500px;
        margin-right: 23px;

        .main_right_contour{
            
            width: 330px;
            padding-top: 82px;
          
            
            .main_weight{
                font-weight: 700;
                font-size:large;
                
            }
             .main_weight_low{
                font-weight: 400;
                line-height: 24px;
            }
        } 
    }


}



.footer_editpost{
   
    padding-top: 28px;
    padding-left: 370px; 
    
    
.buttons_last{
    width: 500px;
    
    justify-content: center;

    .btn_publish{
        background-color: #3b49df;
        color: #ffffff;
        font-weight:600;
        width: 90px;
        height: 42px;

    }
    .btn_color{
        
        color: black;
        

      

        
}



.btn_color:hover{
    background-color: #e2e3f3;
    color:  #4f4cb6;


}


.btn_publish:hover{
        background-color: #212eb9;
        color: #ffffff;
        font-weight:600;
       
   


}



}



}

.edit_textArea{

    width: 94%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: 800;
    font-size:43px;
}


.body_textArea{
   
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: 20px;
    
   

}

.btn_color_add::placeholder { color:black; font-weight: bold; }
 