.mb-3 {
    padding-left: 2rem;
}
.signup-btn {
    background-color: rgb(85, 76, 255);
    border: none;
}
.signup-btn:hover {
    background-color: rgb(56, 45, 255);
    border: none;
}
.required-data {
    color: rgb(255, 75, 75);
}